<?xml version="1.0"?>
<launch>

  <arg name="real_robot" default="false"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find uam_moveit_config)/config/ros_controllers.yaml" command="load"/>
  <!-- rosparam file="$(find uam_moveit)/config/pid_gains.yaml" command="load"/ -->

  <!-- Load the controllers -->
  <!-- Ignoring because they're loaded beforehand! -->
  <group if="$(arg real_robot)">
    <node ns="red_manipulator" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="arm_controller "/>
  </group>

  <group unless="$(arg real_robot)">
  <!-- Load the controllers -->

    <node ns="red_manipulator" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller arm_controller"/>

   
  </group>


</launch>
